/* Background settings */
body {
  background-color: darkgoldenrod;
}

#bannerbg {
  background-image: url("/images/headerbg.jpg");
  background-size: cover;
}

nav {
  background-color: khaki;
}

nav li:hover {
  background-color: white;
}

#contentContainer {
  background-color: darkorange;
  position: relative;
  bottom: 15px;
}

#categSection {
  background-color: darkorange;
  color: black;
  text-align: center;
}

#categorySelector {
  background-color: khaki;
}

#servSection {
  background-color: white;
}

footer {
  background-color: khaki;
}

/* Positions h1 in bottom-left */
h1 {
  position: relative;
  top: 35px;
}

/* Sets bullet style for home page category */
#homecatlist {
  list-style-type: circle;
}

/* Reduces font size of button */
#secondButton {
  font-size: 70%;
}

/* Ridged borders and rounded corners for cards, Service options display, and dropdown menu */
#servSection,
#categorySelector,
.card {
  border: 2px ridge black;
  border-radius: 8px;
}

/* Moves section displaying Service options up */
#servSection {
  position: relative;
  bottom: 15px;
  box-shadow: 5px 5px;
}

/* Box Shadow for cards and home page */
.card,
#homeSection {
  box-shadow: 5px 5px;
}

/* Link underlines on hover */
#homeButton:hover,
#firstButton:hover {
  text-decoration: underline;
}
